/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    margin-top : 1em;
    margin-bottom : 1em;
}

.validation-summary-errors ul li {
    list-style-type : none;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 50px;
    padding : 0px;
    text-align: center;

}

.table-header {
    position: fixed;
    top : 50px;
    background-color : white;
}

.clock {
    position: fixed;
    z-index: 1049;
    top: 0px;
    left: auto;
    height : 50px;
    background-color: white;
    color: black;
    font-size: 1.8em;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.clickable a {
    color : black;
    cursor : pointer;
}

.top-margin-50 {
    margin-top : 50px;
}

.square {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: solid 1px black;
    margin-left: -1px;
    cursor:pointer;
}

.square-inactive {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: dashed 1px #AAAAAA;
    margin-left: -1px;
    cursor: initial;
}

footer {
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}